@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Trollbackevägen 14<br />
    393 52 Kalmar<br />
    <abbr title="Phone">P:</abbr>
    +46761605900
</address>

<address>
    <strong>Email:</strong> <a href="mailto:juhlinus@gmail.com">juhlinus@gmail.com</a><br />
</address>
